page-tabs-controller {

}

super-tab ion-navbar.toolbar.toolbar-ios.statusbar-padding{
    margin-top:20px;
}
ion-app.ios [padding], ion-app.ios [padding] .scroll-content {
    margin-top: 16px;
    }


super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.title-and-icon {
    margin:0px;
    text-transform:none;
    text-align:center;
    white-space: normal;
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size:90%;
    font-weight:150;
    
}

super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.title-and-icon ion-icon {
margin-bottom:0px;
}

