

<ng-template #loading>

</ng-template>
<!--
      <ion-header>
        <ion-navbar>
            <ion-title></ion-title>
        </ion-navbar>
    </ion-header>

    <ion-content>

    </ion-content>
<ion-tabs *ngIf="week;else loading" id="tabsController-tabs1">
  <ion-tab [root]="videoTabRoot" tabTitle="Videos" tabIcon="talkable-video" id="tabsController-videoTab" [rootParams]="{ w: week }"></ion-tab>
  <ion-tab [root]="storyTabRoot" tabTitle="Story Time" tabIcon="talkable-story" id="tabsController-storyTab" [rootParams]="{ w: week }"></ion-tab>
  <ion-tab [root]="weeklySignsTabRoot" tabTitle="Key Words" tabIcon="talkable-key" id="tabsController-weeklySignsTab" [rootParams]="{ w: week }"></ion-tab>
  <ion-tab [root]="hintsTipsTabRoot" tabTitle="Hints & Tips" tabIcon="talkable-hints" id="tabsController-hintsTipsTab" [rootParams]="{ w: week }"></ion-tab>
</ion-tabs>
-->
<super-tabs *ngIf="week;else loading" id="tabsController-tabs1" [config]="{ sideMenu: 'left' }" tabsPlacement="bottom" indicatorColor="light" toolbarColor="light" text-transform="lowercase">
    <super-tab [root]="videoTabRoot" title="Videos" icon="talkable-video" id="tabsController-videoTab" [rootParams]="{ w: week }"></super-tab>
    <super-tab [root]="storyTabRoot" title="Story Time" icon="talkable-story" id="tabsController-storyTab" [rootParams]="{ w: week }"></super-tab>
    <super-tab [root]="weeklySignsTabRoot" title="Key Word Signs" icon="talkable-key" id="tabsController-weeklySignsTab" [rootParams]="{ w: week }"></super-tab>
    <super-tab [root]="hintsTipsTabRoot" title="Hints & Tips" icon="talkable-hints" id="tabsController-hintsTipsTab" [rootParams]="{ w: week }"></super-tab>
</super-tabs>

