@font-face {
    font-family: "icons";
    src: url("./icons.eot?6c763f9cffa30014a2310a4e9421c64b?#iefix") format("embedded-opentype"),
url("./icons.woff2?6c763f9cffa30014a2310a4e9421c64b") format("woff2"),
url("./icons.woff?6c763f9cffa30014a2310a4e9421c64b") format("woff"),
url("./icons.ttf?6c763f9cffa30014a2310a4e9421c64b") format("truetype"),
url("./icons.svg?6c763f9cffa30014a2310a4e9421c64b#icons") format("svg");
}

i {
    line-height: 1;
}

i:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.icons-logo_header:before {
    content: "\f101";
}
.icons-talkable-cloud-play:before {
    content: "\f102";
}
.icons-talkable-current:before {
    content: "\f103";
}
.icons-talkable-hints-tips:before {
    content: "\f104";
}
.icons-talkable-key-word-signs:before {
    content: "\f105";
}
.icons-talkable-overview:before {
    content: "\f106";
}
.icons-talkable-storytime:before {
    content: "\f107";
}
.icons-talkable-video:before {
    content: "\f108";
}
.icons-talkable-word-tracker:before {
    content: "\f109";
}
