<ion-header>
  <ion-navbar>
    <button ion-button=""
            menuToggle="">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>10 Week Prgram Overview</ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="tenWeekProgram">
  <div *ngIf='loaded'>
    <ion-card *ngFor='let week of allWeeks'>
      <ion-card-header>
        Week {{week.number}}
      </ion-card-header>

      <ion-card-content>
        {{week.title}} <br>
        Description of week can go here <br>
        <button ion-button (click)='goToWeeklyTabs(week.number)'>View Week {{week.number}}</button>
      </ion-card-content>
      
    </ion-card>
  </div>
</ion-content>
