<ion-header>
  <!-- This one for per week colors -->
  <!-- <ion-navbar color="{{week.number}}"> -->
  <!-- This one for Default colors -->
  <ion-navbar [color]="color">
    <button *ngIf="!push" ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons *ngIf="push" left class="force-back">
        <button icon-only ion-button (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
    </ion-buttons>
    
    <ion-title>
      <p class='subtitle'> Week {{ week.number }}</p>
      {{ week.title }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="videoPage">
  <ion-fab *ngIf="color" right bottom #fab2>
    <button ion-fab [color]="color">
      <ion-icon name="information"></ion-icon>
    </button>
    <ion-fab-list side="top" >
        <div ion-fab class="speech-bubble-{{color}} fab fab-ios fab-in-list fab-ios-in-list " text-center>

            <p>{{week.description}}</p>
        
          </div>  
      
    </ion-fab-list>
  </ion-fab>
  

  <ion-card *ngFor="let v of week.videos" text-wrap>
    <!-- <video fullscreen="fullscreen" controls>
      <source src="https://www.youtube.com/embed/q8f-DoL1dqQ" type="video/mp4">  
    </video> -->


    <ion-item (click)='playVideo(v.id)'>
      <button ion-button clear item-end large class="video-button" [color]="color">
          <ion-icon *ngIf="!downloadService.isDownloaded(v.id)" name="talkable-cloud-play"></ion-icon>
          <ion-icon  *ngIf="downloadService.isDownloaded(v.id)"name="play"></ion-icon>
      </button>
      <!-- <ion-thumbnail item-end >
          <img src="assets/img/vidthumb.jpg" style="object-fit:cover">
        </ion-thumbnail> -->
      <h1 class="video-title">{{v.title}}</h1>
    </ion-item>
  </ion-card>

</ion-content>
