
<ion-header>
  <!-- This one for per week colors -->
    <!-- <ion-navbar color="{{week.number}}"> -->
    <!-- This one for Default colors -->
    <ion-navbar [color]="color">
        <button *ngIf="!push" ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-buttons *ngIf="push" left class="force-back">
              <button icon-only ion-button (click)="goBack()">
                  <ion-icon name="arrow-back"></ion-icon>
                </button>
          </ion-buttons>
      <ion-title>
          <p class='subtitle'> Week {{ week.number }}</p>
          {{ week.title }} 
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content id="weeklySignsPage" >
  <!-- <p>Teach your child these words by using these actions</p> -->
  <!-- <ion-grid>
    <ion-row *ngFor='let chunk of keyWordSignsChunks'>
      <ion-col *ngFor='let keyWord of chunk'>
        <ion-card >
            <img [src]="keyWord.image" alt=""> 
          <ion-card-content>
            <ion-card-title>
              {{ keyWord }}
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="chunk.length != 2">
      </ion-col>
    </ion-row>
  </ion-grid> -->

     <ion-grid class="keyword-video" style="padding:0em">
        <ion-row>
          <ion-col col-6 class="keyword-video" *ngFor='let word of weeklyKeyWordSigns.videos'>
  <ion-card class="keyword-video" >
    
     
     <!-- <video [attr.id]='word' controls class="video" poster="assets/img/vidthumb.jpg"  width="100%" (ended)="watched(word, $event);" hidden> -->
        
      <!-- <img src="assets/img/vidthumb.jpg" (click)='playVideo(word)' style="object-fit:cover"> -->
      <ion-item class="keyword-video" (click)='playVideo(word)'>
          <h1 class="video-title">{{word}}</h1>
      <button  ion-button clear item-end large class="video-button" [color]="color"><ion-icon *ngIf="!downloadService.isDownloaded(word)" name="talkable-cloud-play"></ion-icon>
        <ion-icon  *ngIf="downloadService.isDownloaded(word)"name="play"></ion-icon></button>
      <!-- <ion-thumbnail item-end >
        <img src="assets/img/vidthumb.jpg" style="object-fit:cover">
      </ion-thumbnail> -->
    </ion-item>
  </ion-card>
</ion-col>
</ion-row>
</ion-grid> 

  <ion-card>
      <ion-card-header [color]="color">Activities<ion-icon [color]="color" name="md-people" item-end style="float:right;"></ion-icon>
      </ion-card-header>
        <!-- <ion-list> -->
          <ion-item class="list-content" *ngFor='let activity of weeklyKeyWordSigns.activities'>
            <ion-icon [color]="color" name="ios-checkmark" item-start></ion-icon>
            <div [innerHTML]="activity"></div>
          </ion-item>
        <!-- </ion-list> -->
    </ion-card>
 
</ion-content>