<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ week.title }}
      <p class='subtitle'>Week {{ week.number }}</p>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="weeklySignsPage" >
  <!-- <p>Teach your child these words by using these actions</p> -->
  <!-- <ion-grid>
    <ion-row *ngFor='let chunk of keyWordSignsChunks'>
      <ion-col *ngFor='let keyWord of chunk'>
        <ion-card >
            <img [src]="keyWord.image" alt=""> 
          <ion-card-content>
            <ion-card-title>
              {{ keyWord }}
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="chunk.length != 2">
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-grid>
    <ion-row>
      <ion-col *ngFor='let word of weeklyKeyWordSigns' col-6 class='card-center-text'>
        <ion-card >
            <video [attr.id]='word' controls class="video" poster="assets/img/vidthumb.jpg"  width="100%" (ended)="watched(word, $event);" hidden>
              <source [attr.src]="'assets/vid/' + word.toLowerCase() + '.mp4'" type='video/mp4' >
          </video> 
            <img src="assets/img/vidthumb.jpg" (click)='playVideo(word)' style="object-fit:cover">
          <ion-card-content>
            {{word}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card>
          <ion-card-header>
            Activities
            <ion-icon name="md-people" item-end style="float:right;"></ion-icon>
          </ion-card-header>
            <ion-list>
              <ion-item>
                <ion-icon name="ios-checkmark" item-start></ion-icon>
                Activity
              </ion-item>
              <ion-item>
                  <ion-icon name="ios-checkmark" item-start></ion-icon>
                  Activity
                </ion-item>
            </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-list id='weeklySigns-list'>
    <button ion-item *ngFor='let signs of week.weeklyKeyWordSigns'> 
      {{ signs }} 
    </button>
  </ion-list> -->
</ion-content>