<ion-header>
  <!-- This one for per week colors -->
  <!-- <ion-navbar color="{{week.number}}"> -->
  <!-- This one for Default colors -->
  <!-- <ion-navbar color="primary"> -->
  <ion-navbar [color]="color">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Talkable</ion-title> -->
    <img height="46" src="assets/img/logo_header_horiz.png"/>
  </ion-navbar>
</ion-header>

<ion-content text-center padding>
    <h1 class="home-content pt-30">Your 10 Week Program</h1>
    <!-- <ion-card *ngIf="currentWeek" class="action-items">
        <ion-card-header>
          Current Week
        </ion-card-header>
        <ion-card-content>
          {{currentWeek}}
          <ng-container *ngIf="currentWeek < 10">
              <p *ngIf="dayDiff == 1">New content <b>tomorrow!</b></p>
              <p *ngIf="dayDiff == 7">New content <b>next week!</b></p>
              <p *ngIf="dayDiff > 1 && dayDiff < 7">New content in <b>{{dayDiff}} days!</b></p>
          </ng-container>
        </ion-card-content>
      </ion-card> -->
  <!-- <div *ngIf="currentWeek" class="week-progress">
    
    <ng-container *ngFor="let week of fs.getAllWeeks()" >
        <div class="week-progress-item" [class.current]="currentWeek == week.number"><span>{{week.number}}</span></div>

    </ng-container>
  </div> -->

  <!-- <h2 class="home-content">Pick up where you left off?</h2> -->
  <div class="circle-container" (click)="userProgress()">
      <ion-icon name="md-play" class="circle"></ion-icon>
      <ion-icon name="md-play" class="circle"></ion-icon>
      <ion-icon name="md-play" class="circle"></ion-icon>
      <ion-icon name="md-play" class="circle"></ion-icon>
  </div>
  <h1 class="home-content right" (click)="userProgress()">Lets Go!</h1>
  <!-- <button ion-button large (click)="userProgress()" icon-start> 
      <ion-icon name="talkable-current"></ion-icon>
      Let's Go!
    </button>
    <div class="action-buttons">
      <div class="action-items">
          <ion-card>
              <ion-card-header>
                Words Learnt
              </ion-card-header>
              <ion-card-content>
                {{savedwords}}
              </ion-card-content>
            </ion-card>
      </div>
        <div class="action-items">
            <ion-card>
                <ion-card-header>
                  Videos Watched
                </ion-card-header>
                <ion-card-content>
                  {{videoService.getWatchedVideos().length}}
                </ion-card-content>
              </ion-card>
        </div>
          
    </div> -->
    <hr>
  <div class="action-buttons big">
    <button ion-button large (click)="goToWordTracker()"><div>
          <ion-icon name="talkable-word-tracker"></ion-icon><br>
          <label>Word Tracker</label>
          </div>
    </button>
  <button ion-button large (click)="gotToKeyWordSigns()"><div>
        <ion-icon name="talkable-key-word-signs"></ion-icon><br>
        <label>Key Word Signs</label>
        </div>
    </button>
  </div>
  


  <div>
    
      
         
        
  </div>
</ion-content>
