page-home {
  .button {
    width: 100%;
  }
  h1{
    font-size: 8vw;
  }
  ion-header{
    img{
        float: right;
    }
  }
  
  .home-content {
    text-align: center;
    color: color($colors, 1);
  }
  .pt-30{
      padding-top: 30px;
  }
  .card{
    border-radius: 10px;
  }
  ion-row.go-time {
    height: 50%;
    align-items: flex-end;
  }
  .action-buttons{
      display: flex;
      justify-content: space-around;
      &.big{
          button{
                height: 6em;
                border-radius: 20px;
                width: 8.5em;
            ion-icon{
                font-size: 3em;
            }
          }
      }
      
  }
  .right{
      text-align: end;
      font-size: 11vw;
  }
  hr{
    height: 2px;
    background-color: color($colors, 1)!important;
    margin: 20px 10px;

  }
  .action-items{
    flex: 1;
    .card-content {
        font-size: 5rem;
    }
}

.circle-container{
    margin: 35px 0 10px;
    display: inline-flex;
    .circle{
        margin-left: -10px;
        width: 2em;
        height: 2em;
        background-color: color($colors, 1);
        color: white;
        border-radius: 100%;
        font-size: 5em;
        padding: 0.4em 0.8em;
        margin-left: -1.3em;
        &:nth-child(1){
            $tmpc: color($colors, 1);
            background-color: lighten($tmpc, 30%)
        }
        &:nth-child(2){
            $tmpc: color($colors, 1);
            background-color: lighten($tmpc, 20%)
        }
        &:nth-child(3){
            $tmpc: color($colors, 1);
            background-color: lighten($tmpc, 10%)
        }
        &:not(:last-child){
            color: transparent;
        }
        
    }
}
  .week-progress{
    display: flex;
    width: calc(100% - 17px);
    .week-progress-item {
        flex: 1;
        background: #bbced4;
        padding: 10px 0;
        margin-left: 3px;
        position: relative;
        color: black;
        span{
            margin-left: 15px;
        }
        &:after, &:before{
            content: " ";
            position: absolute;
            top: 0;
            right: -17px;
            width: 0;
            height: 0;
            border-top: 19px solid transparent;
            border-bottom: 17px solid transparent;
            border-left: 17px solid #bbced4;
            z-index: 2;
            transition: border-color 0.2s ease;
        }
        &.current:after{
            border-left: 17px solid color($colors, 1);
        }
        &:not(:first-child):before{
            right: auto;
            left: 0;
            border-left: 17px solid #fff;
            z-index: 0;
        }
        &.after{
            border-left: 17px solid #bbced4;
        }
        &.current{
            color: white;
            background-color: color($colors, 1);
        }
    }
  }
  
}
