<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="settingsPage">
  <ion-list>
    <ion-list-header>
      General Settings
    </ion-list-header>
    <ion-item>
      <ion-toggle color="primary" *ngIf='options' [(ngModel)]="options.unlockAll" (ionChange)="updateSettings()"></ion-toggle>
      <!-- <ion-toggle [checked]='settings.unlockAllToggle' (ionChange)='toggleUnlockAll();'></ion-toggle> -->
      <ion-icon name="md-unlock" item-start></ion-icon>
      <ion-label>Unlock all tutorials</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="md-notifications" item-start></ion-icon>
      <ion-label>Weekly Notifications</ion-label>
      <ion-select *ngIf='options' [(ngModel)]="options.notifications" okText="Save" (ionChange)="updateNotificationsPreference()">
        <ion-option value="enabled">Enabled</ion-option>
        <ion-option value="disabled">Disabled</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-videocam" item-start></ion-icon>
      <ion-label>Video Preference</ion-label>
      <ion-select *ngIf='options' [(ngModel)]="options.videoPreference" okText="Save" (ionChange)="updateVideoPreference()">
        <ion-option value="online">Online Videos</ion-option>
        <ion-option value="download">Downloaded Videos</ion-option>
      </ion-select>
      <!-- <ion-toggle color="primary" *ngIf='options' [(ngModel)]="options.localVideos" (ionChange)="updateSettings()"></ion-toggle> -->
      <!-- <ion-toggle [checked]='settings.unlockAllToggle' (ionChange)='toggleUnlockAll();'></ion-toggle> -->
    </ion-item>
    <button ion-item (click)="openManageDownloads()">
      <ion-icon name="md-download" item-start></ion-icon>
      <ion-label>
        Manage Downloads
      </ion-label>
    </button>
    <!-- <ion-item>
      <ion-toggle checked='true'></ion-toggle>
      <ion-label>Turn off notifications</ion-label>
    </ion-item> -->
  </ion-list>
  <ion-list>
      <ion-list-header>
          Information
        </ion-list-header>
    <button ion-item (click)="openRatingModal()">
      <ion-icon name="star" item-start></ion-icon>
      <ion-label>
        Submit Feedback
      </ion-label>
    </button>
    <button ion-item (click)="openAbout()">
      <ion-icon name="information-circle" item-start></ion-icon>
      <ion-label>
        More Information
      </ion-label>

    </button>
  </ion-list>
  <ion-list>
      <ion-list-header>
          Reset
        </ion-list-header>
    <button ion-item (click)="resetSettings()">
      <ion-icon name="refresh" item-start></ion-icon>
      <ion-label>
        Reset Settings
      </ion-label>

    </button>
    <ng-container *ngIf="isDev">
      <button ion-item no-lines (click)="resetProgress()">
        Reset Progress
      </button>
      <button ion-item no-lines (click)="showNotifs()">
        Show Notifs
      </button>
    </ng-container>
    
  </ion-list>
</ion-content>
