@import "variables";

@font-face {
  font-family: 'talkable';
  src:  url('../assets/fonts/talkable.eot?mf7uzo');
  src:  url('../assets/fonts/talkable.eot?mf7uzo#iefix') format('embedded-opentype'),
    url('../assets/fonts/talkable.ttf?mf7uzo') format('truetype'),
    url('../assets/fonts/talkable.woff?mf7uzo') format('woff'),
    url('../assets/fonts/talkable.svg?mf7uzo#talkable') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'talkable' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.talkable-video:before,
.ion-md-talkable-video:before,
.ion-ios-talkable-video:before,
.ion-ios-talkable-video-outline:before,
.ion-md-talkable-video-outline:before {
    content: "\e900";
    width:32px;
    height: 32px;
    padding:0;
    margin:0px;
    opacity: 0.9;
    color:black;
}
.talkable-tracker:before,
.ion-md-talkable-tracker:before,
.ion-ios-talkable-tracker:before,
.ion-ios-talkable-tracker-outline:before,
.ion-md-talkable-tracker-outline:before {
    content: "\e901";
    width:32px;
    height: 32px;
    padding:0;
    margin:0px;
    opacity: 0.9;
    color:black;
}
.talkable-story:before,
.ion-md-talkable-story:before,
.ion-ios-talkable-story:before,
.ion-ios-talkable-story-outline:before,
.ion-md-talkable-story-outline:before {
    content: "\e902";
    width:32px;
    height: 32px;
    padding:0;
    margin:0px;
    opacity: 0.9;
    color:black;
}
.talkable-hints:before,
.ion-md-talkable-hints:before,
.ion-ios-talkable-hints:before,
.ion-ios-talkable-hints-outline:before,
.ion-md-talkable-hints-outline:before {
    content: "\e904";
    width:32px;
    height: 32px;
    padding:0;
    margin:0px;
    opacity: 0.9;
    color:black;
}
.talkable-key:before,
.ion-md-talkable-key:before,
.ion-ios-talkable-key:before,
.ion-ios-talkable-key-outline:before,
.ion-md-talkable-key-outline:before {
    content: "\e903";
    width:32px;
    height: 32px;
    padding:0;
    margin:0px;
    opacity: 0.9;
    color:black;
}

.talkable-video-white:before,
.ion-md-talkable-video-white:before,
.ion-ios-talkable-video-white:before,
.ion-ios-talkable-video-white-outline:before,
.ion-md-talkable-video-white-outline:before {
    content: "\e900";
    width:32px;
    height: 32px;
    padding:0;
    margin:0px;
    opacity: 0.9;
    color:#fff;
}
.talkable-tracker-white:before,
.ion-md-talkable-tracker-white:before,
.ion-ios-talkable-tracker-white:before,
.ion-ios-talkable-tracker-white-outline:before,
.ion-md-talkable-tracker-white-outline:before {
    content: "\e901";
    width:32px;
    height: 32px;
    padding:0;
    margin:0px;
    opacity: 0.9;
    color:#fff;
}
.talkable-story-white:before,
.ion-md-talkable-story-white:before,
.ion-ios-talkable-story-white:before,
.ion-ios-talkable-story-white-outline:before,
.ion-md-talkable-story-white-outline:before {
    content: "\e902";
    width:32px;
    height: 32px;
    padding:0;
    margin:0px;
    opacity: 0.9;
    color:#fff;
}
.talkable-hints-white:before,
.ion-md-talkable-hints-white:before,
.ion-ios-talkable-hints-white:before,
.ion-ios-talkable-hints-white-outline:before,
.ion-md-talkable-hints-white-outline:before {
    content: "\e904";
    width:32px;
    height: 32px;
    padding:0;
    margin:0px;
    opacity: 0.9;
    color:#fff;
}
.talkable-key-white:before,
.ion-md-talkable-key-white:before,
.ion-ios-talkable-key-white:before,
.ion-ios-talkable-key-white-outline:before,
.ion-md-talkable-key-white-outline:before {
    content: "\e903";
    width:32px;
    height: 32px;
    padding:0;
    margin:0px;
    opacity: 0.9;
    color:#fff;
}
/*
.talkable-video {
  &:before {
    content: $talkable-video;
  }
}
.talkable-tracker {
  &:before {
    content: $talkable-tracker;
  }
}
.talkable-story {
  &:before {
    content: $talkable-story;
  }
}
.talkable-key {
  &:before {
    content: $talkable-key;
  }
}
.talkable-hints {
  &:before {
    content: $talkable-hints;
  }
}
*/
