
[class*="talkable-"] {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @mixin makeIcon($arg, $val) {
    .#{$arg}:before ,
    .ion-ios-#{$arg}:before ,
    .ion-ios-#{$arg}-outline:before ,
    .ion-md-#{$arg}:before ,
    .ion-md-#{$arg}-outline:before  {
      content: $val;
      // font-size: 26px;
    }
  }
          
  @font-face {
      font-family: "icons";
      src: url("../assets/fonts/icons.eot?51355164d34200b4fc821bcf6349b806?#iefix") format("embedded-opentype"),
  url("../assets/fonts/icons.woff2?51355164d34200b4fc821bcf6349b806") format("woff2"),
  url("../assets/fonts/icons.woff?51355164d34200b4fc821bcf6349b806") format("woff"),
  url("../assets/fonts/icons.ttf?51355164d34200b4fc821bcf6349b806") format("truetype"),
  url("../assets/fonts/icons.svg?51355164d34200b4fc821bcf6349b806#icons") format("svg");
  }
  @include makeIcon(logo_header, '\f101');
@include makeIcon(talkable-cloud-play, '\f102');
@include makeIcon(talkable-hints-tips, '\f104');
@include makeIcon(talkable-current, '\f103');
@include makeIcon(talkable-overview, '\f106');
@include makeIcon(talkable-key-word-signs, '\f105');
@include makeIcon(talkable-storytime-stars, '\f107');
@include makeIcon(talkable-storytime, '\f108');
@include makeIcon(talkable-word-tracker, '\f10a');
@include makeIcon(talkable-video, '\f109');
  