@charset "UTF-8";
@import 'variables';
@import url("../assets/fonts");
@font-face {
  font-family: 'talkable';
  src: url("../assets/fonts/talkable.svg?#talkable") ;
  src:  url("../assets/fonts/talkable.svg?#talkable") format('svg'),
  url('../assets/fonts/talkable.eot?') format('embedded-opentype'),
  url('../assets/fonts/talkable.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/talkable.ttf?') format('truetype'),
    url('../assets/fonts/talkable.woff?') format('woff');
  font-weight: normal;
  font-style: normal;
}

.talkable,
.talkable-settings:before,
.ion-md-talkable-settings:before,
.ion-ios-talkable-settings:before,
.ion-ios-talkable-settings-outline:before,
.ion-md-talkable-settings-outline:before,
.talkable-current:before,
.ion-md-talkable-current:before,
.ion-ios-talkable-current:before,
.ion-ios-talkable-current-outline:before,
.ion-md-talkable-current-outline:before,
.talkable-overview:before,
.ion-md-talkable-overview:before,
.ion-ios-talkable-overview:before,
.ion-ios-talkable-overview-outline:before,
.ion-md-talkable-overview-outline:before, 
.talkable-key-white:before,
.ion-md-talkable-key-white:before,
.ion-ios-talkable-key-white:before,
.ion-ios-talkable-key-white-outline:before,
.ion-md-talkable-key-white-outline:before,
.talkable-key:before,
.ion-md-talkable-key:before,
.ion-ios-talkable-key:before,
.ion-ios-talkable-key-outline:before,
.ion-md-talkable-key-outline:before,
.talkable-hints-white:before,
.ion-md-talkable-hints-white:before,
.ion-ios-talkable-hints-white:before,
.ion-ios-talkable-hints-white-outline:before,
.ion-md-talkable-hints-white-outline:before,
.talkable-hints:before,
.ion-md-talkable-hints:before,
.ion-ios-talkable-hints:before,
.ion-ios-talkable-hints-outline:before,
.ion-md-talkable-hints-outline:before,
.talkable-story-white:before,
.ion-md-talkable-story-white:before,
.ion-ios-talkable-story-white:before,
.ion-ios-talkable-story-white-outline:before,
.ion-md-talkable-story-white-outline:before,
.talkable-story:before,
.ion-md-talkable-story:before,
.ion-ios-talkable-story:before,
.ion-ios-talkable-story-outline:before,
.ion-md-talkable-story-outline:before,
.talkable-tracker-white:before,
.ion-md-talkable-tracker-white:before,
.ion-ios-talkable-tracker-white:before,
.ion-ios-talkable-tracker-white-outline:before,
.ion-md-talkable-tracker-white-outline:before,
.talkable-tracker:before,
.ion-md-talkable-tracker:before,
.ion-ios-talkable-tracker:before,
.ion-ios-talkable-tracker-outline:before,
.ion-md-talkable-tracker-outline:before,
.talkable-video-white:before,
.ion-md-talkable-video-white:before,
.ion-ios-talkable-video-white:before,
.ion-ios-talkable-video-white-outline:before,
.ion-md-talkable-video-white-outline:before,
.talkable-video:before,
.ion-md-talkable-video:before,
.ion-ios-talkable-video:before,
.ion-ios-talkable-video-outline:before,
.ion-md-talkable-video-outline:before {
    display: inline-block;
    font-family: "talkable";
    speak: none;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.talkable-video,
.talkable-video:before,
.ion-md-talkable-video:before,
.ion-ios-talkable-video:before,
.ion-ios-talkable-video-outline:before,
.ion-md-talkable-video-outline:before {
    content: "\e904";
}

.talkable-tracker:before,
.ion-md-talkable-tracker:before,
.ion-ios-talkable-tracker:before,
.ion-ios-talkable-tracker-outline:before,
.ion-md-talkable-tracker-outline:before {
    content: "\e903";
}

.talkable-story:before,
.ion-md-talkable-story:before,
.ion-ios-talkable-story:before,
.ion-ios-talkable-story-outline:before,
.ion-md-talkable-story-outline:before {
    content: "\e902";
}

.talkable-hints:before,
.ion-md-talkable-hints:before,
.ion-ios-talkable-hints:before,
.ion-ios-talkable-hints-outline:before,
.ion-md-talkable-hints-outline:before {
    content: "\e900";
}

.talkable-key:before,
.ion-md-talkable-key:before,
.ion-ios-talkable-key:before,
.ion-ios-talkable-key-outline:before,
.ion-md-talkable-key-outline:before {
    content: "\e901";
}

.talkable-current:before,
.ion-md-talkable-current:before,
.ion-ios-talkable-current:before,
.ion-ios-talkable-current-outline:before,
.ion-md-talkable-current-outline:before {
    content: "\e905";
}
.talkable-overview:before,
.ion-md-talkable-overview:before,
.ion-ios-talkable-overview:before,
.ion-ios-talkable-overview-outline:before,
.ion-md-talkable-overview-outline:before {
    content: "\e906";
}
.talkable-settings:before,
.ion-md-talkable-settings:before,
.ion-ios-talkable-settings:before,
.ion-ios-talkable-settings-outline:before,
.ion-md-talkable-settings-outline:before {
    content: "\e907";
}



