
// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/icons";
.activeHighlight {
    background-color: map-get($colors, light)
}
.toolbar-title { 
  .subtitle {
    margin: 0;
    font-size: 66%;
  }
}
.isCurrentWeek {
    font-size: 2.3rem;
}
.card-center-text {

  ion-card {
    position: relative;
    text-align: center;
    text-transform: capitalize;
  }

  .card-title {
    font-size: 1.5em;
    width: 100%;
    // font-weight: bold;
  }

}
.loading {
  text-align: center;
}

/*
//DEFAULT
.talkable-video:before,
.ion-md-talkable-video:before,
.ion-ios-talkable-video:before,
.ion-ios-talkable-video-outline:before,
.ion-md-talkable-video-outline:before {
    content: url(../assets/icon/video.svg);
    width:32px;
    height: 32px;
    padding:0;
    opacity: 0.9;
}
.talkable-tracker:before,
.ion-md-talkable-tracker:before,
.ion-ios-talkable-tracker:before,
.ion-ios-talkable-tracker-outline:before,
.ion-md-talkable-tracker-outline:before {
    content: url(../assets/icon/tracker.svg);
    width:32px;
    height: 32px;
    padding:0;
    opacity: 0.9;
}
.talkable-story:before,
.ion-md-talkable-story:before,
.ion-ios-talkable-story:before,
.ion-ios-talkable-story-outline:before,
.ion-md-talkable-story-outline:before {
    content: url(../assets/icon/story.svg);
    width:32px;
    height: 32px;
    padding:0;
    opacity: 0.9;
}
.talkable-hints:before,
.ion-md-talkable-hints:before,
.ion-ios-talkable-hints:before,
.ion-ios-talkable-hints-outline:before,
.ion-md-talkable-hints-outline:before {
    content: url(../assets/icon/hints.svg);
    width:32px;
    height: 32px;
    padding:0;
    opacity: 0.9;
}
.talkable-key:before,
.ion-md-talkable-key:before,
.ion-ios-talkable-key:before,
.ion-ios-talkable-key-outline:before,
.ion-md-talkable-key-outline:before {
    content: url(../assets/icon/key.svg);
    width:32px;
    height: 32px;
    padding:0;
    opacity: 0.9;
}
*/





