
// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/icons";
.activeHighlight {
    background-color: map-get($colors, light)
}
.toolbar-title { 
  .subtitle {
    margin: 0;
    font-size: 66%;
  }
}
.isCurrentWeek {
    font-size: 2.3rem;
}
.card-center-text {

  ion-card {
    position: relative;
    text-align: center;
    text-transform: capitalize;
  }

  .card-title {
    font-size: 1.5em;
    width: 100%;
    // font-weight: bold;
  }

}
.loading {
  text-align: center;
}







.talkable-hints:before,
.ion-md-talkable-hints:before,
.ion-ios-talkable-hints:before,
.ion-ios-talkable-hints-outline:before,
.ion-md-talkable-hints-outline:before,
.ion-icon.icon.icon-md.icon-md-light.ion-md-talkable-hints{
 
    //content: $talkable-hints;
    content: url(../../assets/icon/hints.svg);
    //content: '\e900';
    width: 24px;
    height: 32px;
    padding: 6px 4px 2px;
    opacity: 0.9;
  }


.talkable-key:before,
.ion-md-talkable-key:before,
.ion-ios-talkable-key:before,
.ion-ios-talkable-key-outline:before,
.ion-md-talkable-key-outline:before,
.ion-icon.icon.icon-md.icon-md-light.ion-md-talkable-key {
    //content: $talkable-key;
        //content: '\e901';
        content: url(../../assets/icon/key.svg);
        width: 24px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
  }
.talkable-story:before,
.ion-md-talkable-story:before,
.ion-ios-talkable-story:before,
.ion-ios-talkable-story-outline:before,
.ion-md-talkable-story-outline:before,
.ion-icon.icon.icon-md.icon-md-light.ion-md-talkable.story{
    //content: $talkable-story;
    content: url(../../assets/icon/story.svg);
        //content: '\e902';
        width: 24px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
  }
.talkable-tracker:before
.ion-md-talkable-tracker:before,
.ion-ios-talkable-tracker:before,
.ion-ios-talkable-tracker-outline:before,
.ion-md-talkable-tracker-outline:before,
.ion-icon.icon.icon-md.icon-md-light.ion-md-talkable-tracker, {
    //content: $talkable-tracker;
        //content: '\e903';
        content: url(../../assets/icon/tracker.svg);
        width: 24px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
  }
.talkable-video:before,
.ion-md-talkable-video:before,
.ion-ios-talkable-video:before,
.ion-ios-talkable-video-outline:before,
.ion-md-talkable-video-outline:before,
.ion-icon.icon.icon-md.icon-md-light.ion-md-talkable-video, {
    //content: $talkable-video;
        //content: '\e904';
        content: url(../../assets/icon/video.svg);
        width: 24px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
  }