<ion-menu [content]="content">
    <!-- <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header> -->
    <!-- <ion-content class="outer-content"> -->
    <ion-content>
        <img src="assets/icon/logo_header.svg" style="width:100%" alt="Logo Header">
        <br>
        <ion-list>
             <!-- <ion-list-header>
                10 Week Program
            </ion-list-header>
            <div *ngIf='pageReady'>
                <button ion-item *ngFor="let wp of weeklyPages" [class.activeHighlight]="checkActive(wp)" [class.isCurrentWeek]="checkCurrentWeek(wp)" [attr.disabled]="checkAvailable(wp) ? null : ''" (click)="openPage(wp)">
                {{wp.title}}
            </button>
            </div> -->
             <!-- <ion-footer> -->
                <!-- <ion-list-header>
                    10 Week Program
                </ion-list-header> -->


                 <button ion-item *ngFor="let p of programPages" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)">
                    <ion-icon *ngIf='p.icon' item-start [name]="p.icon"></ion-icon>
                    {{p.title}}
                </button>
                <button ion-item *ngFor="let w of wordPages" [class.activeHighlight]="checkActive(w)" (click)="openPage(w)">
                    <ion-icon *ngIf='w.icon' item-start [name]="w.icon"></ion-icon>
                    {{w.title}}
                </button>
                <button ion-item *ngFor="let s of settingsPages" [class.activeHighlight]="checkActive(s)" (click)="openPage(s)">
                    <ion-icon *ngIf='s.icon' item-start [name]="s.icon"></ion-icon>
                    {{s.title}}
                </button>
            </ion-list>


            <!-- <ion-list>
                 <button ion-item *ngFor="let w of wordPages" [class.activeHighlight]="checkActive(w)" (click)="openPage(w)">
                    <ion-icon *ngIf='w.icon' item-start [name]="w.icon"></ion-icon>
                    {{w.title}}
                </button>
            </ion-list>
            <ion-list>
                <ion-list-header>
                    Settings
                </ion-list-header>
                 <button ion-item *ngFor="let s of settingsPages" [class.activeHighlight]="checkActive(s)" (click)="openPage(s)">
                    <ion-icon *ngIf='s.icon' item-start [name]="s.icon"></ion-icon>
                    {{s.title}}
                </button>
            
        </ion-list> -->
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>