<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Word List</ion-title>
    <ion-buttons *ngIf="WordListSegment == 'MyWords'" end>
      <button ion-button icon-only clear >
      <ion-icon name="ios-share-outline"></ion-icon>
    </button>
    </ion-buttons>
    
    <!-- TODO: Change to category name  -->
  </ion-navbar>
  <!-- <ion-toolbar *ngIf="WordListSegment != 'MyWords'" no-border-top>
    <ion-searchbar animated='true' tapable placeholder="Search Items" showCancelButton cancelButtonText="Clear" (ionInput)="filterItemsSorted($event)"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ng-template #loading>
  <div class='loading'><ion-spinner></ion-spinner></div>
</ng-template>
<ion-content>
    <ion-searchbar *ngIf="WordListSegment != 'MyWords'" animated='true' tapable placeholder="Search Items" showCancelButton cancelButtonText="Clear" (ionInput)="filterItemsSorted($event)"></ion-searchbar>
    
  <div *ngIf='!searching'>
    <div padding>
      <ion-segment [(ngModel)]="WordListSegment" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="AllWords">
          Word List
        </ion-segment-button>
        <ion-segment-button value="MyWords">
          My Words
        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="WordListSegment">
      <div *ngSwitchCase="'AllWords'">
        <div *ngIf='savedWordList && wordList;else loading'>
          <div *ngIf='category'>
            <ion-list>
              <ion-list-header>{{ category }}</ion-list-header>
              <button *ngFor='let word of wordList[category]' [color]="savedWordList[word] ? 'secondary' : null" ion-item detail-none (click)='addToSavedWordList(word)'  >
                <ion-label>{{ word }}</ion-label>
                <ion-icon name="ios-add-outline"  item-end clear></ion-icon>
              </button>
            </ion-list>
          </div>
          <div *ngIf='!category'>
            <ion-list>
              <ion-list-header>Select Category</ion-list-header>
              <button *ngFor='let category of wordList | object' ion-item detail-none (click)='viewCategory(category.key)'>
                <ion-label>{{ category.key }}</ion-label>
                <ion-icon name="ios-arrow-forward-outline" item-end clear></ion-icon>
              </button>
            </ion-list>
          </div>
        </div>
      </div>

      <ion-list *ngSwitchCase="'MyWords'" >
        <ion-item-sliding *ngFor='let myWord of savedWordList | keys' #item>
            <ion-item>
              <ion-label>{{ myWord }}</ion-label>
              <ion-note item-end>Added <br> {{savedWordList[myWord].date}}</ion-note>
            </ion-item>
            <ion-item-options *ngIf='savedWordList[myWord]'>
                <button ion-button color="danger" (click)="removeFromSavedWordList(myWord, item)">
                  <ion-icon name="trash"></ion-icon>
                  Remove
                </button>
              </ion-item-options>
        </ion-item-sliding>
      </ion-list>

    </div>
    <!-- <div *ngIf='wordList;else loading'>
      <div *ngIf='category'>
        <ion-list >
          <ion-list-header>{{ category }}</ion-list-header>
            <button *ngFor='let word of wordList[category]' ion-item (click)='showWordPopup(word)'><ion-label>{{ word }}</ion-label></button>
        </ion-list>
        <!-- <ion-grid>
          <ion-row>
            <h1>{{ category }}</h1>
            <ion-col *ngFor='let word of wordList[category]' col-6>
              <ion-card>
                <ion-card-content text-wrap>
                  <button ion-item clear full detail-none (click)='showWordPopup(word)'>
              {{ word }}
            </button>

                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid> .........>
      </div>
      <div *ngIf='!category'>
        <ion-list >
          <ion-list-header>Select Category</ion-list-header>
            <button *ngFor='let category of wordList | object' ion-item (click)='viewCategory(category.key)'>
                <ion-icon name="logo-octocat" item-start></ion-icon>
              <ion-label>{{ category.key }}</ion-label></button>
        </ion-list>
        <!-- <ion-grid>
          <ion-row>
            <h1>Select a category or look up words</h1>
            <ion-col *ngFor='let category of wordList | object' col-12>
              <ion-card>
                <ion-card-content text-wrap>
                  <button ion-item clear full detail-none (click)='viewCategory(category.key)'>
              {{ category.key }}
            </button>

                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid> ...........>
      </div>
    </div> -->
  </div>
  <div *ngIf='searching'>
    <ion-list>
      <ion-list-header>Found Items</ion-list-header>
      <button *ngFor='let word of sortedWordList' ion-item [color]="savedWordList[word] ? 'danger' : null" (click)='addToSavedWordList(word)'>
        <ion-label>{{ word }}</ion-label>
      </button>
    </ion-list>
    <!-- <ion-grid>
          <ion-row>
            <ion-col col-12><h1>Found Items</h1></ion-col>
            
            <ion-col *ngFor='let word of sortedWordList' col-6>
              <ion-card>
                <ion-card-content text-wrap>
                  <button ion-item clear full detail-none (click)='showWordPopup(word)'>
              {{ word }}
            </button>

                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid> -->
  </div>
  <!-- <ion-item-group *ngFor='let category of wordList | object'>
    <ion-item-divider sticky color="light">{{ category.key }}</ion-item-divider>
    <button ion-item *ngFor='let words of wordList[category.key]' (click)="showWordPopup(words)">
      {{ words }}
      <ion-icon name="eye"></ion-icon>
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-item-group>  -->
  <!-- <ion-list *ngFor='let category of wordList | object'>
    {{ category.key }}
    <div [virtualScroll]="wordList[category.key]">
      <ion-item *virtualItem='#words'>
      {{ words }}
    </ion-item>
    </div>
    
  </ion-list>  -->
  <!-- <div *ngIf='sortedWordList?.length > 0'> -->

  <!-- </div>  -->


  <!-- <ion-list *ngIf='sortedWordList?.length > 0' [hidden]='ready' [virtualScroll]="sortedWordList" approxItemHeight="50px">

      <button ion-item *virtualItem="let item" [style.width.%]="100">
      <ion-label>{{ item }}</ion-label>
      <ion-checkbox 
        [ngModel]="savedWordList[item]?.checked" 
        (ngModelChange)="(savedWordList[item]) ? savedWordList[item].checked=$event : null"
        (click)="updateSavedWordList(item)">
      </ion-checkbox>
      </button> 

    </ion-list> -->
  <!-- <div *ngIf='wordList;else loading'>
    <ion-item-group *ngFor='let category of wordList | object' class="card-center-text">
    <ion-item-divider sticky>{{ category.key }}</ion-item-divider>
    <ion-grid text-center>
      <ion-row *ngFor='let chunk of wordList[category.key] | chunks: 2'>
        <ion-col *ngFor='let signs of chunk'>
          <ion-card>
            <button ion-item clear full detail-none (click)="showWordPopup(signs)">
              <h1>{{ signs }} </h1>
              <ion-icon name="eye"></ion-icon>
              <ion-icon name="checkmark"></ion-icon>
            </button>
             <!-- <ion-card-content>
              <ion-card-title>
                {{ signs }}
              </ion-card-title>
            </ion-card-content>  -->
  <!-- </ion-card>
        </ion-col>

        <ion-col *ngIf="chunk.length != 2"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-item-group>  -->


</ion-content>
