<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Word List</ion-title>
    <ion-buttons *ngIf="WordListSegment == 'MyWords'" end>
<button ion-button icon-only clear (click)="presentPromptCustomWord()" >
        <ion-icon name="add" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="WordListSegment == 'MyWords'" end>
      
      <button ion-button icon-only clear (click)="shareWords()" >
        <ion-icon name="ios-share-outline" ></ion-icon>
      </button>
    </ion-buttons>
    
    <!-- TODO: Change to category name  -->
  </ion-navbar>
  <!-- <ion-toolbar *ngIf="WordListSegment != 'MyWords'" no-border-top>
    <ion-searchbar animated='true' tapable placeholder="Search Items" showCancelButton cancelButtonText="Clear" (ionInput)="filterItemsSorted($event)"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ng-template #loading>
  <div class='loading'><ion-spinner></ion-spinner></div>
</ng-template>
<ion-content>
    <ion-searchbar *ngIf="WordListSegment != 'MyWords'" animated='true' tapable placeholder="Search Items" showCancelButton cancelButtonText="Clear" (ionInput)="filterItemsSorted($event)"></ion-searchbar>
      
  <div *ngIf='!searching'>
    <div padding>
      <ion-segment [(ngModel)]="WordListSegment" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="AllWords">
          Word List
        </ion-segment-button>
        <ion-segment-button value="MyWords">
          My Words
        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="WordListSegment">
      <div *ngSwitchCase="'AllWords'">
        <div *ngIf='savedWordList && wordList;else loading'>
          <div *ngIf='category'>
            <ion-list>
              <ion-list-header>{{ category }}</ion-list-header>
              <button *ngFor='let word of wordList[category]' [color]="savedWordList[word] ? 'secondary' : null" ion-item detail-none (click)='addToSavedWordList(word)'  >
                <ion-label>{{ word }}</ion-label>
                <ion-icon name="ios-add-outline"  item-end clear></ion-icon>
              </button>
            </ion-list>
          </div>
          <div *ngIf='!category'>
            <ion-list>
              <ion-list-header>Select Category</ion-list-header>
              <button *ngFor='let category of wordList | object' ion-item detail-none (click)='viewCategory(category.key)'>
                <ion-label>{{ category.key }}</ion-label>
                <ion-icon name="ios-arrow-forward-outline" item-end clear></ion-icon>
              </button>
            </ion-list>
          </div>
        </div>
      </div>

      <ion-list *ngSwitchCase="'MyWords'" >
        <div padding-left>
            <!-- <button ion-button icon-start (click)='presentPromptCustomWord()'>
              <ion-icon name="add"></ion-icon> Add a custom word
            </button> -->
            <span>Swipe left to delete words</span>
        </div>
          
        <ion-item-sliding *ngFor='let myWord of savedWordList | keys' #item>
            <ion-item>
              <ion-label>{{ myWord }}</ion-label>
              <ion-note item-end>Added <br> {{savedWordList[myWord].date}}</ion-note>
            </ion-item>
            <ion-item-options *ngIf='savedWordList[myWord]'>
                <button ion-button color="danger" (click)="removeFromSavedWordList(myWord, item)">
                  <ion-icon name="trash"></ion-icon>
                  Remove
                </button>
              </ion-item-options>
        </ion-item-sliding>
      </ion-list>

    </div>

  </div>
  <div *ngIf='searching'>
    <ion-list>
      <ion-list-header>Found Items</ion-list-header>
      <button *ngFor='let word of sortedWordList' ion-item [color]="savedWordList[word.word] ? 'secondary' : null" (click)='addToSavedWordList(word.word)'>
        <ion-label>{{ word.word }}<ion-note item-end>
            {{ word.category }}
          </ion-note></ion-label>
      </button>
    </ion-list>
   
  </div>
  

</ion-content>
