<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Key Word Signs
    </ion-title>
  </ion-navbar>
   <ion-toolbar no-border-top>
    <ion-searchbar placeholder="Filter Items" (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar> 
</ion-header>
<ng-template #loading><ion-spinner></ion-spinner></ng-template>
<ion-content id="keyWordSignsPage">
  <!-- <ion-searchbar placeholder="Filter Items" (ionInput)="filterItems($event)"></ion-searchbar> -->
  <ion-list *ngIf='filteredSigns;else loading' id="keyWordSigns-list">
    <ion-item *ngFor='let signs of filteredSigns' id="keyWordSigns-list-{{key}}">
      {{ signs.word }}
    </ion-item>
  </ion-list>
</ion-content>