<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Key Word Signs
    </ion-title>
  </ion-navbar>
   <ion-toolbar no-border-top>
    <ion-searchbar animated='true' placeholder="Filter Items" showCancelButton cancelButtonText="Clear" (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar> 
</ion-header>
<ng-template #loading><ion-spinner></ion-spinner></ng-template>
<ion-content id="keyWordSignsPage">
    
  <ion-list *ngIf="signs">
    <ion-item *ngIf='signs?.length == 0' text-wrap>No Results Found. <br> For more key words, visit <a href="#" onclick="window.open('http://auslan.org.au/', '_system', 'location=yes'); return false;">http://auslan.org.au</a></ion-item>
    <ion-item *ngFor='let word of signs' (click)='playVideo(word)'>
      {{ word }}
      <button ion-button clear item-end><ion-icon name="play"></ion-icon>  </button>
      
      <!-- <img [src]="filteredWordList[word.key].image" [alt]="signs.word">  -->
    </ion-item>
  </ion-list>
 
</ion-content>