<ion-header>
  <!-- This one for per week colors -->
    <!-- <ion-navbar color="{{week.number}}"> -->
    <!-- This one for Default colors -->
    <ion-navbar [color]="color">
        <button *ngIf="!push" ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-buttons *ngIf="push" left class="force-back">
              <button icon-only ion-button (click)="goBack()">
                  <ion-icon name="arrow-back"></ion-icon>
                </button>
          </ion-buttons>
      <ion-title>
          <p class='subtitle'> Week {{ week.number }}</p>
          {{ week.title }} 
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content id="hintsTipsPage">
  <ion-card text-wrap>
    <ion-card-header [color]="color" class="h1">
       Tips for this week <ion-icon  [color]="color" name='md-bulb' item-end style="float:right;"></ion-icon>
    </ion-card-header>
    <ion-list>
      <ion-item class="list-content" *ngFor='let hintsTips of week.hintsTips'>
          <ion-icon [color]="color" name="ios-checkmark" item-start></ion-icon>
          <ion-label><div [innerHTML]="hintsTips"></div></ion-label>
      </ion-item>
      <!-- <ion-item > -->
        
      <!-- </ion-item> -->
    </ion-list>
  </ion-card>
  <!-- <ion-card *ngFor='let hintsTips of week.hintsTips'>
      <ion-card-content>{{ hintsTips }}</ion-card-content>
  </ion-card> -->
</ion-content>