<ion-header>
  <!-- This one for per week colors -->
    <!-- <ion-navbar color="{{week.number}}"> -->
    <!-- This one for Default colors -->
    <ion-navbar [color]="color">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
      <ion-title>
          <p class='subtitle'> Week {{ week.number }}</p>
          {{ week.title }} 
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content id="hintsTipsPage">
  <ion-card text-wrap>
    <ion-card-header>
      <h1> Tips for this week <ion-icon  [color]="color" name='md-bulb' item-end style="float:right;"></ion-icon></h1>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor='let hintsTips of week.hintsTips'>
          <ion-icon [color]="color" name="ios-checkmark" item-start></ion-icon>
        <p class="hint-content">{{ hintsTips }}</p>
      </ion-item>
      <!-- <ion-item > -->
        
      <!-- </ion-item> -->
    </ion-list>
  </ion-card>
  <!-- <ion-card *ngFor='let hintsTips of week.hintsTips'>
      <ion-card-content>{{ hintsTips }}</ion-card-content>
  </ion-card> -->
</ion-content>