page-hints-tips {
// .hint-content{
//     color: color($colors, dark);
//     white-space: normal;
//     overflow:visible;
//     font-size:2rem;
// }
ion-labe.label-ios,
ion-label.label-md{
    color: color($colors, dark);
    white-space: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    overflow: visible;
}
}
