<ion-header>
  <!-- This one for per week colors -->
    <!-- <ion-navbar color="{{week.number}}"> -->
    <!-- This one for Default colors -->
    <ion-navbar [color]="color">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
      <ion-title>
          <p class='subtitle'> Week {{ week.number }}</p>
          {{ week.title }} 
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content id="storyTimePage">
  <ion-card text-wrap id="storyTime-card">
      <ion-item>
        <ion-thumbnail item-right>
          <img src="{{ week.book.cover }}" imageViewer >
        </ion-thumbnail>
        <h1 id="storyTime-heading" style="color:#000000;">
          {{ week.book.title }}
        </h1>
        <p>{{ week.book.author }}</p>
      </ion-item>
      <!-- <ion-item> -->
        <!-- <ion-list> -->
          <ion-list-header>
            Reading Tips
            <ion-icon name="md-bulb" item-end style="float:right;"></ion-icon> 
          </ion-list-header>
          <ion-item *ngFor='let tips of week.book.tips'>
            <ion-icon name="ios-checkmark" item-start></ion-icon>
            {{ tips }}
          </ion-item>
        <!-- </ion-list> -->
      <!-- </ion-item> -->
      <!-- <ion-item> -->
        <!-- <ion-list> -->
          <ion-list-header>
            Alternate Books
            <ion-icon name="book" style="float:right;"></ion-icon> 
          </ion-list-header>
          <ion-item *ngFor='let altBook of week.book.alternateBooks'>
            {{ altBook.title }} ({{ altBook.author }})
          </ion-item>
        <!-- </ion-list> -->
      <!-- </ion-item> -->
  </ion-card>
</ion-content>