<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ week.title }}
      <p class='subtitle'>Week {{ week.number }}</p>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="storyTimePage">
  <ion-card id="storyTime-card">
      <ion-item>
        <ion-thumbnail item-right>
          <img src="assets/img/51iOVw9WUGL._SX258_BO1204203200_.jpg">
        </ion-thumbnail>
        <h1 id="storyTime-heading" style="color:#000000;">
          {{ week.book.title }}
        </h1>
        <p>{{ week.book.author }}</p>
      </ion-item>
      <!-- <ion-item> -->
        <!-- <ion-list> -->
          <ion-list-header>
            <ion-icon name="checkmark"></ion-icon> Tips for this week
          </ion-list-header>
          <ion-item *ngFor='let tips of week.book.tips'>
            {{ tips }}
          </ion-item>
        <!-- </ion-list> -->
      <!-- </ion-item> -->
      <!-- <ion-item> -->
        <!-- <ion-list> -->
          <ion-list-header>
            <ion-icon name="book"></ion-icon> Alternate Books
          </ion-list-header>
          <ion-item *ngFor='let altBook of week.book.alternateBooks'>
            {{ altBook.title }} ({{ altBook.author }})
          </ion-item>
        <!-- </ion-list> -->
      <!-- </ion-item> -->
  </ion-card>
</ion-content>